@model int
@* // this file must be as this name , and the structure of the view component must be as this structural in this project
 *@
<span class="badge bg-dark text-white ms-1 rounded-pill">@Model</span>